## Assignment 3

**TU Delft and WUR**<br>
**Q1 2024**<br>
**Instructor:** Theodoros Chatzivasileiadis <br>
**Instructor:** Hans Hoogenboom <br>
**TA:** Ka Yi Chua <br>
**[Metropolitan Data 1](https://jhoogenboom.github.io/spatial-data-science/_index.html)** <br>

__This homework assignment document will guide you through five tasks in cleaning your data.__

1. Reading and Summarizing the Data.
2. Subsetting the Data.
3. Manage Missing Data.
4. Shape the Data.
5. Saving the Results. 

# NB: From now on you should submit 1) your notebook with the answers, remember that comments are good practice, 2) a working Git page with your assignment

## Exercise 1: Loading the data:

- Load the `goodreads.csv` file into Python
- Explore it by looking at first and last 5 rows
- Change the column names to `["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name']`

In [1]:
# your code here
# use many cells if you like to structure your code well
import matplotlib
import os              
import pandas as pd    
import numpy as np      
import seaborn as sns  
import os      

Goodreads = 'data/goodreads.csv' #file name
#after checking I noticed the file had no column names
#'header=None' tells pandas that there are no column names
#give names to columns with 'names' 
db = pd.read_csv(Goodreads, header=None, names=['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year', 'genre_urls', 'dir', 'rating_count', 'name'])

#show top 5 rows
db.head() 
#show last 5 rows
db.tail()

#show amount of columns and info on them
db.info()

#extra 
#show how big the dataframe is
db.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rating        5998 non-null   float64
 1   review_count  5998 non-null   float64
 2   isbn          5523 non-null   object
 3   booktype      5998 non-null   object
 4   author_url    5998 non-null   object
 5   year          5993 non-null   float64
 6   genre_urls    5938 non-null   object
 7   dir           6000 non-null   object
 8   rating_count  5998 non-null   float64
 9   name          5998 non-null   object
dtypes: float64(4), object(6)
memory usage: 468.9+ KB

(6000, 10)

## Exercise 2: Subsetting the data

- Subset the data by creating new dataframe only with `["rating", 'isbn', 'author_url', 'year', 'genre_urls', 'name']`

In [2]:
# your code here
# use many cells if you like to structure your code well
subset = db[['rating', 'isbn', 'author_url', 'year', 'genre_urls', 'name']]

subset

,rating,isbn,author_url,year,genre_urls,name
0,4.40,0439023483,https://www.goodreads.com/author/show/153394.S...,2008.0,/genres/young-adult|/genres/science-fiction|/g...,"The Hunger Games (The Hunger Games, #1)"
1,4.41,0439358078,https://www.goodreads.com/author/show/1077326....,2003.0,/genres/fantasy|/genres/young-adult|/genres/fi...,Harry Potter and the Order of the Phoenix (Har...
2,3.56,0316015849,https://www.goodreads.com/author/show/941441.S...,2005.0,/genres/young-adult|/genres/fantasy|/genres/ro...,"Twilight (Twilight, #1)"
3,4.23,0061120081,https://www.goodreads.com/author/show/1825.Har...,1960.0,/genres/classics|/genres/fiction|/genres/histo...,To Kill a Mockingbird
4,4.23,0679783261,https://www.goodreads.com/author/show/1265.Jan...,1813.0,/genres/classics|/genres/fiction|/genres/roman...,Pride and Prejudice
...,...,...,...,...,...,...
5995,4.17,0767913736,https://www.goodreads.com/author/show/44565.Ca...,2005.0,/genres/history|/genres/non-fiction|/genres/bi...,The River of Doubt
5996,3.99,1416909427,https://www.goodreads.com/author/show/151371.J...,2006.0,/genres/young-adult|/genres/realistic-fiction|...,Shug
5997,3.78,1620612321,https://www.goodreads.com/author/show/5761314....,2012.0,/genres/contemporary|/genres/romance|/genres/y...,Flawed
5998,3.91,NaN,https://www.goodreads.com/author/show/1201952....,2006.0,/genres/religion|/genres/islam|/genres/religio...,Ø£Ø³Ø¹Ø¯ Ø§Ù Ø±Ø£Ø© ÙÙ Ø§ÙØ¹Ø§ÙÙ
5999,4.35,0786929081,https://www.goodreads.com/author/show/1023510....,2001.0,/genres/fiction|/genres/fantasy|/genres/magic|...,Legacy of the Drow Collector's Edition (Legacy...

## Exercise 3: Manage Missing Data
We’ve got a number of ways in general of dealing with missing data. These involve

1. Dropping off cases (or rows) in the data with any missing variables
2. Excluding variables in the data with any missing data 
3. Selectively choosing indicators with only a limited amount of missing data
4. Replacing missing variables with averages, or other representative values
5. Creating a separate model to predict missing data

- Count the missing values in each column
- Manage the missing values (delete or replace values or leave them as they are) and briefly explain your choice for each column

In [35]:
# your code here
# use many cells if you like to structure your code well
import pandas as pd   

db[pd.isnull(db.rating)]
#2 missing values for rating
#also 2 missing values for review_count, booktype, author_url, rating_count, name
db[pd.isnull(db.isbn)]
#477 missing values for isbn
db[pd.isnull(db.year)]
#7 missing values for year
db[pd.isnull(db.genre_urls)]
#62 missing values for genre_urls
db[pd.isnull(db.rating)]
#0 missing values for dir

#db = db.drop(3643)
#db = db.drop(5282)
#drop because only data on dir was available
#after I drop the row I get an error message that row 3643 is missing (it worked!)
#but I cannot work further because of the error message, thus I made the lines text

#db.year.fillna("Unknown")
#change Nan to 'Unknown' because it is a better filler
#somehow this (db.year.fillna("Unknown")) was not working for me

#Using chatgpt I found:
#db['year'].fillna('Unknown', inplace=True)
#the  I decided to fill all missing values with 'Unknown'.
db.fillna('Unknown', inplace=True)

db[pd.isnull(db.genre_urls)]
#^checking if there are missing values (negative)

value = db.loc[3644]

print(value)
#^checking if row exists

rating                                                       4.28
review_count                                                632.0
isbn                                                   0826412769
booktype                                          good_reads:book
author_url      https://www.goodreads.com/author/show/41108.Pa...
year                                                       1967.0
genre_urls      /genres/education|/genres/philosophy|/genres/n...
dir                    dir37/72657.Pedagogy_of_the_Oppressed.html
rating_count                                              10431.0
name                                    Pedagogy of the Oppressed
Name: 3644, dtype: object

## Exercise 4: Shape the data
- Parse the `author_url` to create new column named `author`
- Sort the data by putting higher rates go first. If there are overlapping rates, try to put earlier years go first.
- **(Stretch Goal)** Examine how many books were published at each year and find lowest, highest rate of each year.

In [74]:
#print(np.sum(db.year.isnull()))
#not important

db['year'] = pd.to_numeric(db['year'], errors='coerce')
#skip values 'Unknows' to make column numeric

#change data types from strings to integers/float
db.rating=db.rating.astype(int)
db.rating_count=db.rating_count.astype(int)
db.review_count=db.review_count.astype(int)
#db.year=db.year.astype(int, errors='coerce')
#how do I change the datatype from float to int when there are values 'Unknown'
db.dtypes

rating            int64
review_count      int64
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count      int64
name             object
author           object
dtype: object

In [75]:
test_string = db.author_url[0]
test_string

#split author name from url
test_string.split('/')[-1].split('.')[1:][0]
#how this works ('https://www.goodreads.com/author/show/153394.Suzanne_Collins' is the url): I first split at the last '/', I indicate the last with [-1]
#then I split again starting at the dot where I use [1:] which extracts all elements in the list starting form index 1 onwards
#[0] grabs the first element of the list 

# A function that accepts an author url and returns the author's name
def get_author(url):

    name = url.split('/')[-1].split('.')[1:][0]
     
    return name

#Apply the get_author function to the 'author_url' column using '.map' 
#and add a new column 'author' to store the names
db['author'] = db.author_url.map(get_author)
db.author[0:5]

0    Suzanne_Collins
1        J_K_Rowling
2    Stephenie_Meyer
3         Harper_Lee
4        Jane_Austen
Name: author, dtype: object

In [80]:
#sort rating with higher rates first
rating_sorted = db.sort_values(by=['rating', 'year'], ascending=False)
rating_sorted

,rating,review_count,isbn,booktype,author_url,year,genre_urls,dir,rating_count,name,author
1718,5,28,Unknown,good_reads:book,https://www.goodreads.com/author/show/6467808....,2014.0,/genres/poetry|/genres/childrens,dir18/22204746-an-elephant-is-on-my-house.html,64,An Elephant Is On My House,Othen_Donald_Dale_Cummings
5564,5,9,Unknown,good_reads:book,https://www.goodreads.com/author/show/7738947....,2014.0,/genres/romance|/genres/new-adult,dir56/21902777-untainted.html,14,"Untainted (Photographer Trilogy, #3)",Sarah_Robinson
2145,5,3,1300589469,good_reads:book,https://www.goodreads.com/author/show/6906561....,2012.0,Unknown,dir22/17287259-a-book-about-absolutely-nothing...,63,A Book About Absolutely Nothing.,I_M_Nobody
2903,5,0,0983002282,good_reads:book,https://www.goodreads.com/author/show/6589034....,2012.0,Unknown,dir30/17608096-obscured-darkness.html,8,Obscured Darkness (Family Secrets #2),Rebekah_McClew
4473,5,0,Unknown,good_reads:book,https://www.goodreads.com/author/show/6896621....,2012.0,Unknown,dir45/17259227-patience-s-love.html,7,Patience's Love,Ronda_Paige
...,...,...,...,...,...,...,...,...,...,...,...
5572,3,35,8423336603,good_reads:book,https://www.goodreads.com/author/show/285658.E...,NaN,/genres/fiction,dir56/890680._rase_una_vez_el_amor_pero_tuve_q...,403,Ãrase una vez el amor pero tuve que matarlo. ...,Efraim_Medina_Reyes
2609,2,8,Unknown,good_reads:book,https://www.goodreads.com/author/show/7707820....,2013.0,/genres/romance|/genres/realistic-fiction|/gen...,dir27/19546932-how-to-be-a-perfect-girl.html,31,How To Be A Perfect Girl,Mary_Williams
3738,2,368,0983650322,good_reads:book,https://www.goodreads.com/author/show/9414.Vic...,2011.0,/genres/young-adult|/genres/science-fiction|/g...,dir38/12393909-revealing-eden.html,688,"Revealing Eden (Save the Pearls, #1)",Victoria_Foyt
5979,2,800,0060988649,good_reads:book,https://www.goodreads.com/author/show/7025.Gre...,2001.0,/genres/fantasy|/genres/fiction|/genres/myster...,dir60/24929.Lost.html,11128,Lost,Gregory_Maguire
5844,2,1399,0395083621,good_reads:book,https://www.goodreads.com/author/show/30691.Ad...,1925.0,/genres/history|/genres/non-fiction|/genres/bi...,dir59/54270.Mein_Kampf.html,12417,Mein Kampf,Adolf_Hitler

In [84]:
#group data based on all columns of year?
#if more than one row exists with a certain value these are grouped
dbgb_year = db.groupby('year')
type(dbgb_year)

dbgb_year.count()

,rating,review_count,isbn,booktype,author_url,genre_urls,dir,rating_count,name,author
year,,,,,,,,,,
-1500.0,1,1,1,1,1,1,1,1,1,1
-800.0,2,2,2,2,2,2,2,2,2,2
-560.0,1,1,1,1,1,1,1,1,1,1
-512.0,1,1,1,1,1,1,1,1,1,1
-500.0,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
2010.0,317,317,317,317,317,317,317,317,317,317
2011.0,374,374,374,374,374,374,374,374,374,374
2012.0,355,355,355,355,355,355,355,355,355,355
2013.0,276,276,276,276,276,276,276,276,276,276
2014.0,87,87,87,87,87,87,87,87,87,87

In [95]:
#separate maximum value for category 'year' where the value is 'rating'
#max_values = db.groupby('year')['rating'].max()
#print("Maximum Values:\n", max_values)

#you can combine the min and max values in one function
extreme_values = db.groupby('year')['rating'].agg(['max', 'min'])
print("\nMax and Min Values:\n", extreme_values)

Max and Min Values:
          max  min
year
-1500.0    3    3
-800.0     4    3
-560.0     4    4
-512.0     3    3
-500.0     4    4
...      ...  ...
 2010.0    4    3
 2011.0    5    2
 2012.0    5    3
 2013.0    4    2
 2014.0    5    3

[293 rows x 2 columns]

## Exercise 5: Saving the results
- Save the cleaned dataframe as 'hw-03-cleaned.csv' in data folder

In [96]:
db.to_csv("data/hw-03-cleaned.csv", index=False, header=True)
#we dont need to have the index numbers in the file so index=False

## Exercise 6: Investigate the relationship between the number of reviews and the average rating for books in the dataset cleaned-goodreads.csv procided.

- Calculate the correlation coefficient. Give me a short definition of this coefficient
- Create a scatter plot showing the relationship between these two features.
- Based on the plot and the correlation, provide a brief interpretation of the relationship.

### Python Tools: Use pandas and numpy for correlation, and matplotlib or seaborn for the scatter plot.

In [ ]:
# your code here
# use many cells if you like to structure your code well

## Exercise 7: Calculate the following descriptive statistics for the numerical features (e.g., number of reviews, average rating, etc.):
- Mean
- Median
- Standard Deviation
- Range
- Create a histogram or box plot for at least one of the numerical features, highlighting any skewness or outliers.
    
### Python Tools: Use pandas for data manipulation and matplotlib or seaborn for visualization.

In [ ]:
# your code here
# use many cells if you like to structure your code well